.juego__vida {
    font-family: $font__family--2;
    font-size: 50px;
    color: red;
}

.opciones {
    display: none;
}

.juego__contenedor {
    width: 700px;
    height: 500px;
    border-style: dashed;
    background-image: url(../images/fondo-1.jpg);
    background-size: cover;
}   
.juego__contenedor--2 {
    background-image: url(../images/fondo-2.jpg);
}
.juego__contenedor--muerte {
    background-image: url(../images/fondo-muerte.jpg);
}
.juego__contenedor--vida {
    background-image: url(../images/fondo-victoria.webp);
}

.juego__btn--inicio {
    background-color: $color__2;
    border-style: none;
    color: $color__1;
    width: 250px;
    height: 100px;
    font-size: 20px;
    font-family: $font__family--2;
    border-radius: 10px;
    cursor: pointer;
}
.juego__btn--inicio:hover {
    color: $color__2;
    background-color: $color__1;
}
.menu__contenedor {
    height: 80px;
    width: 100%;
    visibility: hidden;
}
.btn__menu {
    background-color: $color__1;
    border-radius: 10px;
    font-family: $font__family--2;
    width: 180px;
    min-height: 80px;
    cursor: pointer;
}
.mensaje__contenedor {
    width: 700px;
    height: 500px;
    visibility: hidden;
}
.mensajes {
    
    width: 300px;
    height: 250px;
    background-color: $color__2;
    color: white;
    text-align: center;
    border-style: dotted;
    border-color: $color__1;
    border-radius: 10px;
}
.mensajes__texto {
    font-family: $font__family--2;
    height: auto;
    width: 200px;
    text-align: center;
}

.espadas {
    width: 700px;
    height: 500px;
}
.espada__imagen {
    width: 300px;
    height: auto;
}
.espada__imagen--2 {
    width: 220px;
    height: auto;
    cursor: pointer;
}
.espadaEnemiga {
    visibility: hidden;
}
.elegir__espadas {
    width: 700px;
    visibility: hidden;

}
.elegir__espadas--texto {
    font-family: $font__family--2;
    font-size: 30px;
    font-weight: 800;
    color: $color__1;
}

.ganaste__perdiste {
    visibility: hidden;
    font-family: $font__family--2;
    font-size: 30px; 
    color: $color__1; 
    text-align: center;
}

.historial__titulo {
    margin: 50px;
}
.historial__ganadas {
    color: green
}
.historial__perdidas {
    color: red
}

.vida__animada {
    color: $color__1;
    font-family: $font__family--2;
    font-size: 50px;
    z-index: 500;
}
.vida__animada--1 {
position: absolute;
top:200px;
left: 200px;
}
.vida__animada--2 {
    position:absolute;
    right: 200px;
    top: 200px;

}


