* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'px sans nouveaux';
    src: url(./fonts/px_sans_nouveaux.ttf);
}
body {
    background-color: white;
    font-family: $font__family;
}
.imagenes {
    height: auto;
    max-width: 100%;
}

    